#main >.accordion .card {
	color: #424e5d;
	border: 1px solid #dddddd;
}
#main .accordion .card a {
	color: #424e5d;
	text-decoration: none;				
}
#main .accordion .card-header {
	background: linear-gradient(#fff, #f1f1f1);
	padding: .75rem 1rem;
	position: relative;
}
#main .accordion .card-header:hover {
	background: linear-gradient(#f1f1f1, #e8e8e8);
}
#main .accordion .card-header h2 {
	font-size: 1rem;
}
#main .accordion .fa {
	width: 20px;
	margin-right: .25rem;
}
#main .accordion .card-header a {
	float: left;
	width: 100%;
	cursor: pointer;
}
#main .accordion .toggle {
	font-size: .8rem;
	line-height: .8rem;
	cursor: pointer;
	opacity: 0.7;
	position: absolute;
	right: 16px;
	top: 16px;
	width: 14px;
	margin: 0;
}
#main .accordion .toggle:hover {
	opacity: 1;
}
#main .accordion .card-body {
	padding: 0;
}
#main .accordion .list-group-item {				
	border-radius: 0;
	border-width: 1px 0 1px 0;
	padding-left: 30px;
	background: #d6dbe0;
	font-weight: 500;
}
#main .accordion .list-group-item:hover {
	background: #007bff;
}
#main .accordion .list-group-item:hover a {
	color: #fff !important;
}
#main .accordion .list-group-item:hover .badge{
	background: #fff;
	color: #007bff;
}
#main .accordion .list-group-item a {
	color: #61656b;
	display: block;
}
#main .accordion .list-group-item .badge {
	float: right;
	min-width: 36px;
}
#main .accordion .rotate{
	transform: rotate(180deg); 
}

/* login signup */
#login {
    margin: 7rem 0rem 7rem 0rem!important;
}
#login > .card {
    width: 400px;
    border: none
}

#login > .btr {
    border-top-right-radius: 5px !important
}

#login > .btl {
    border-top-left-radius: 5px !important
}

#login > .btn-dark {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

#login > .btn-dark:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

#login .nav-pills {
    display: table !important;
    width: 100%
}

#login  .nav-pills .nav-link {
    border-radius: 0px;
    border-bottom: 1px solid #0d6efd40
}

#login  .nav-item {
    display: table-cell;
    background: #0d6efd2e
}

#login .form {
    padding: 10px;
    margin-bottom: 15px;
}

#login  .form input {
    margin-bottom: 12px;
    border-radius: 3px
}

#login  .form input:focus {
    box-shadow: none
}

#login .form button {
    margin-top: 20px
}