/* * {
	color: #fff;
}
body {
	
	background-color: hsl(218, 41%, 15%);
	background-image: radial-gradient(
	  650px circle at 0% 0%,
	  hsl(218, 41%, 35%) 15%,
	  hsl(218, 41%, 30%) 35%,
	  hsl(218, 41%, 20%) 75%,
	  hsl(218, 41%, 19%) 80%,
	  transparent 100%),radial-gradient(
		1250px circle at 100% 100%,
		hsl(218, 41%, 45%) 15%,
		hsl(218, 41%, 30%) 35%,
		hsl(218, 41%, 20%) 75%,
		hsl(218, 41%, 19%) 80%,
		transparent 100%
	  );
	  height: 100vh;
	  padding-left: 70px;
	  overflow-x: hidden;
	  color: #fff;
} */
.engraved {
    font-size: 17px;
    font-family: Futura;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /* color: transparent; */
    /* text-shadow: rgba(245,245,245,0.5) 3px 5px 1px; */
 }
.embossed {
	color: rgb(6, 92, 27);
	font-size: 50px;
	font-family: Futura;
	background-color: #666666;
	text-shadow: 1px 4px 4px #555;
	text-align: center;
	-webkit-background-clip: text;
	  -moz-background-clip: text;
  
  }
.daz {
	background-color: rgba(251, 251, 251, 0.15);
	background: hsl(218, 41%, 15%);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
	/* color: #fff; */
	
} 
.bg-glass {
	background: hsla(0, 0%, 100%, 0.15);
	backdrop-filter: blur(30px);
  }
.shadow-custom {
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .25), 0 3px 15px 1px rgba(0, 0, 0, 0.63) !important;
  }
/* login signup */
#login {
    margin: 7rem 0rem 7rem 0rem!important;
}
#login > .card {
    width: 400px;
    border: none
}

#login > .btr {
    border-top-right-radius: 5px !important
}

#login > .btl {
    border-top-left-radius: 5px !important
}

#login > .btn-dark {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

#login > .btn-dark:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

#login .nav-pills {
    display: table !important;
    width: 100%
}

#login  .nav-pills .nav-link {
    border-radius: 0px;
    border-bottom: 1px solid #0d6efd40
}

#login  .nav-item {
    display: table-cell;
    background: #0d6efd2e
}

#login .form {
    padding: 10px;
    margin-bottom: 15px;
}

#login  .form input {
    margin-bottom: 12px;
    border-radius: 3px
}

#login  .form input:focus {
    box-shadow: none
}

#login .form button {
    margin-top: 20px
}

#cardAddress {
	position: absolute;
	width: 490px;
	margin-top: 0px;
	z-index: 10;
	height: 300px;
	max-height: 1340px;
	overflow-y: scroll;
  }